.input {
    position: relative;
    font-size: 1.5em;
    background: linear-gradient(21deg, #a940b3, #10abff);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
  }
.input *:not(div) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 0.325em;
    z-index: 1;
  }

  .fa-search {
    font-size: 1em;
    margin-left: 10px;
    cursor: pointer;
    vertical-align: middle;
    background: linear-gradient(to right, #a940b3, #10abff);
    background-clip: text;
    color: transparent;
    display: inline-block;
    
}

.input *:not(span):focus + span {
    opacity: 1;
    transform: scale(1);
  }
.input span {
    transform: scale(0.993, 0.94);
    transition: transform 0.5s, opacity 0.25s;
    opacity: 0;
    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #a940b3, -3px 3px 30px #10abff;
  }
html {
    font-family:  "Segoe UI", Roboto, Helvetica, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    font-size: 1em;
  }
body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
html, body {
    height: 100%;
  }
input {
    font-family: inherit;
    line-height: inherit;
    color: #2e3750;
    min-width: 14em;
}
  ::placeholder {
    color: #64686d;
}
html::after {
    content: '';
    background: linear-gradient(21deg, #a34db4, #1beabd);
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
  