body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 1.8rem;
    background-image: linear-gradient(
        to bottom right,
        #e57373,
        #f06292,
        #ba68c8,
        #9575cd,
        #7986cb
    );
}

fieldset {
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border: none;
}

legend {
    font-size: 28px;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 10px 20px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.flavor {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

label {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-left: 10px;
    position: relative;
}

input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

input[type="radio"]:checked + label:before {
    background-color: #ca8489;
}
