.button {
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    cursor: pointer;
    border: 3px solid rgb(255, 239, 94);
    background-color: rgb(255, 239, 94);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
  }
  
  .text {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    color: white;
  }
  
  .arrow path {
    fill: rgb(19, 19, 19);
  }
  
  .button:hover .arrow {
    animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-8px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  
  .button:active {
    transform: scale(0.97);
  }