*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #151514;
    font-family: "inconsolata",monospace;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold; 
    
}

.btns div{
    /* display: inline-block;
    position: relative; */
    padding: 25px 30px;
    margin: 30px;
    font-size: 24px;
    text-decoration: none;
    transition: .2s;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 10px;
    

}

.lavender-btn{
    color: #c981d7;
    border: 2px solid #a56add;
}

.lavender-btn:hover{
    color: #050801;
    background-color: #bc85dd;
    box-shadow: 0 0 5px    #ca5ce8 ,
                0 0 25px  #77309a,
                0 0 50px  #b129c0,
                0 0 100px  #cd65f0 
                ;
    -webkit-box-reflect: below 2px linear-gradient(transparent,#000500);

}

.yellow-btn{
    color: #e9c43b;
    border: 2px solid #9fb718;
}

.yellow-btn:hover{
    color: #050801;
    background-color: #e6c921;
    box-shadow: 0 0 5px   #ede13e ,
                0 0 25px  #d8e429,
                0 0 50px  #e9ec34,
                0 0 100px #e8dd11 
                ;
    -webkit-box-reflect: below 2px linear-gradient(transparent,#000500);
}
